.pagina-login {

header{
    background-color: FFFFFF;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid #41629f;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-bottom: 100px;
}


    .enter-kitchen-chef {
        display: block;
        position: relative;
        height: 50px;
        color: #000000;
        font-family: "Princess Sofia", Arial, sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 49.5px;
        text-align: left;
        white-space: nowrap;
        z-index: 2;
        margin-bottom: 50px;
    }

    .divEmail{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .email-cpf {
        display: block;
        position: relative;
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 3;
    }

    .inputEmail{
        position: relative;
        width: 391px;
        height: 42px;
        background: rgba(217, 217, 217, 0);
        border: 1px solid #41629f;
        z-index: 7;
        margin-bottom: 25px;
    }

    .divSenha{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .passwordSpan {
        display: block;
        position: relative;
        height: 21px;
        color: #000;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 4;
    }

    .inputSenha{
        position: relative;
        width: 391px;
        height: 42px;
        background: rgba(217, 217, 217, 0);
        border: 1px solid #41629f;
        z-index: 8;
        margin-bottom: 25px;
    }

    .botaoEntrar{
        position: relative;
        width: 391px;
        height: 57px;
        background: #41629f;
        z-index: 9;
        border: #41629f;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .entrarSpan {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 32px;
        top: 9px;
        left: 152px;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 31.992px;
        text-align: left;
        white-space: nowrap;
        z-index: 10;
    }

    .divAcesso{
        display: flex;
        flex-direction: column;
    }
    .acesso-restrito {

        position: relative;
        width: 115px;
        height: 21px;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-overflow: initial;
        white-space: nowrap;
        z-index: 5;
        margin-bottom: 15px;
    }

    .acesso {
        position: relative;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .restrito {
        position: relative;
        color: #ff0909;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
        text-decoration: none;
    }

    .apenas-chefes {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 396px;
        height: 42px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
        z-index: 6;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 200px;
        position: relative;
        height: 299px;
        background: rgba(217, 217, 217, 0);
        border-top: 1px solid #41629f;
    }

    .divLogo,.divContatos,.divLinks {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 20px;
       margin-top: 20px;
    }


    .wmremove-transformed-4 {
        width: 206.593px;
        height: 124px;
        background-size: cover;
        z-index: 20;
    }

    .links {
        height: 27px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 26.66px;
        text-align: left;
        white-space: nowrap;
        z-index: 21;
    }

    .contato {
        height: 27px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 26.66px;
        text-align: left;
        white-space: nowrap;
        z-index: 22;
    }



    .ic-baseline-facebook {
        width: 31px;
        height: 31px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/135535/facebook-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 16;
        overflow: hidden;
    }



    .avenida-engenheiro-stevaux {
        width: 281px;
        height: 63px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
        z-index: 19;
    }

    .produtos {
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 13;
    }

    .mdi-instagram {
        width: 31px;
        height: 31px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/135535/instagram-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 15;
        overflow: hidden;
    }

    .segredo-sabor-confeitaria-5,.segredo-sabor-confeitaria {
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 24;
    }

    .contato-6 {
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 14;
    }

    .telefones {
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 18;
    }

    .flex-row-whats,.flex-row-face,.flex-row-insta {
        display: flex;
        justify-content: space-between;
        height: 31px;
        z-index: 23;
        gap: 5px;
    }

    .ic-sharp-whatsapp {
        flex-shrink: 0;
        position: relative;
        width: 31px;
        height: 31px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/135535/whatsapp-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 17;
        overflow: hidden;
    }

    .phone-number {
        flex-shrink: 0;
        position: relative;
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 23;
    }

    .nossa-marca {
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 12;
    }
}