.cardEstoque {
    width: 921px;
    height: 100px;
    background: rgba(217, 217, 217, 0);
    border: 1px solid #41629f;

    .flex-row-e {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: flex-start;
        align-items: center;
    }

    .img {
        width: 80px;
        height: 80px;
        background-size: cover;
        margin: 10px;
        border-radius: 10px;
    }

    .nomeProduto {

        width: 170px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: wrap;
    }

    .descricao {
        width: 280px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: wrap;
    }

    .quantidade {
        width: 130px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
    }

    .div-rs-un {
        width: 82px;
        height: 21px;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-overflow: initial;
        white-space: nowrap;
        z-index: 33;
    }

    .span-rs {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .span-12-00 {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .span-slash {
        position: relative;
        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .span-un-6 {
        position: relative;
        color: #41629f;
        font-family: Playfair Display;
        font-size: 12px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .divEditar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .div-icon-park-edit {
        position: relative;
        width: 20px;
        height: 20px;
        background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-04-22/YkSkUKPHjc.png) no-repeat center;
        background-size: cover;
        overflow: hidden;
    }

    .span-editar {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
    }


    .custom-file-input-card{
        display: flex;
        flex-direction: column;
        border: 1px solid #41629f;
        width: 115px;
        margin-left: 5px;
    }


    .formAtualizado {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 921px;
        height: 100px;
        align-items: center;
        //margin: 10px;
    }


    .inputQtdCard {
        width: 30px;
        height: 20px;
        margin-left: 40px;
        border: 1px solid #41629f;
      }
    
      .inputDescricaoCard{
        width: 230px;
        height: 20px;
        margin-left: 40px;
        border: 1px solid #41629f;
      }
    
      .inputPrecoCard{
        width: 40px;
        height: 20px;
        margin-left: 125px;
        border: 1px solid #41629f;
      }
    
      .inputNomeCard{
        width: 110px;
        height: 20px;
        margin-left: 20px;
        border: 1px solid #41629f;
      }
    
      .botoesCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
    
      .btnAdicionarProdutoCard,.btnCancelarProdutoCard,.btnDeletarProdutoCard{
        background: rgba(217, 217, 217, 0);
        border: 2px solid #41629f;
        cursor: pointer;
        transition: transform 0.5s ease;
        border-radius: 5px;
        width: 80px;
      }
      .btnAdicionarProdutoCard:hover{
        background-color: rgb(102, 204, 0);
      }
      .btnCancelarProdutoCard:hover{
        background-color: rgb(224, 239, 5);
      }
      .btnDeletarProdutoCard:hover{
        background-color: rgb(204, 0, 0);
      }
}