.rectangle {
    width: 921px;
    min-height: 150px;
    background: rgba(217, 217, 217, 0);
    border: 1px solid #41629f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;


    .produtos{
        width: 921px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        max-height: 300px;
        min-height: 70px;
        overflow-y: auto;


    }

    .produtoItem{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }


    .imgProduto {
        width: 70px;
        height: 69px;
        background-size: cover;
        z-index: 22;
    }


    .nomeProduto {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 23;
    }

    .quantidade {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 33;
    }

    .dadoReserva {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        justify-content: space-between;
    }

    .dadosCliente {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .local {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 26;
    }

    .data {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 27;
    }

    .hora {
        height: 19px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.662px;
        text-align: left;
        white-space: nowrap;
        z-index: 35;
    }



    .formaPagamento,
    .nomeCliente,
    .telefoneCliente {
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 25;
    }

    .total {
        height: 27px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 26.66px;
        text-align: left;
        white-space: nowrap;
        z-index: 24;
    }

    .flex-row-f {
        width: 165px;
        height: 24px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }


    .confirmar {
        color: #ffffff;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.662px;
        text-align: left;
        white-space: nowrap;
        z-index: 45;
        width: 80px;
        height: 24px;
        background: rgba(65, 98, 159, 0.94);
        border: 1px solid #ffffff;
        cursor: pointer;
    }


    .cancelar {
        color: #ffffff;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.662px;
        text-align: left;
        white-space: nowrap;
        z-index: 46;
        width: 80px;
        height: 24px;
        background: rgba(255, 9, 9, 0.67);
        border: 1px solid #ffffff;
        cursor: pointer;
    }

}