.pagina-home{
display: flex;
flex-wrap: wrap;

      .main-container {
        overflow: hidden;
      }
      
      .main-container,
      .main-container * {
        box-sizing: border-box;
      }
      
      input,
      select,
      textarea,
      button {
        outline: 0;
      }
      
      .main-container {
        position: relative;
        width: 1512px;
        height: 2601px;
        margin: 0 auto;
        background: #ffffff;
        overflow: hidden;
      }
      .flex-column {
        width: 100%;
        height: 100%;
        top: 0;
        left: -25px;
        z-index: 78;
        flex: 1 1 200px; 
      }
      
      
    
      .our-products {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 50px;
        top: calc(50% - -310px);
        left: calc(50% - 87px);
        color: #ffffff;
        font-family: Princess Sofia, var(--default-font-family);
        font-size: 32px;
        font-weight: 400;
        line-height: 49.5px;
        text-align: left;
        white-space: nowrap;
        z-index: 8;
      }
     
 
      
}
