.fundo-queridinhos {
  position: relative;
  max-width: 1512px;
  height: 600px;
  margin: 0 0 0 25px;
  background: #41629f;
  z-index: 1;


  .img-principal {
    position: absolute;
    width: 900px;
    height: 700px;
    top: 60px;
    left: 580px;
    z-index: 3;
  }

  .nossos-queridinhos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 100px;
    left: 140px;
    color: #ffffff;
    font-family: 'Princess Sofia', cursive;
    font-size: 38px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    text-overflow: initial;
    z-index: 2;
  }

  .paragrafo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 310px;
    height: 63px;
    top: 250px;
    left: 200px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 21.328px;
    text-align: left;
    z-index: 4;
  }


  .button {
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #41629f;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 226px;
    top: 440px;
    left: 219px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Playfair Display', serif;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}