.footer-background {
    position: relative;
    max-width:1512px;
    height: 343px;
    margin: 800px 0 0 25px;
    background: #ffffff;
    z-index: 32;
    overflow: visible auto;

    .flex-row-b {
        position: relative;
        width: 797px;
        height: 124px;
        margin: 36px 0 0 300px;
        z-index: 43;
    }

    .logo-b {
        img {
            position: absolute;
            width: 206.593px;
            height: 124px;
            top: 0;
            left: 0;
            background-size: cover;
            z-index: 35;
            transition: transform 0.3s ease;
        }

    }

    .logo-b img:hover {
        transform: rotate(-5deg);
    }


    .links::after,.contact::after,.nossa-marca-e::after,.products::after,.contato-c::after,.telefones-d::after,.segredo-sabor-confeitaria::after,.instagram-handle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color:  #41629f;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .links:hover::after,.contact:hover::after,.nossa-marca-e:hover::after,.products:hover::after,.contato-c:hover::after,.telefones-d:hover::after,.segredo-sabor-confeitaria:hover::after,.instagram-handle:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }


    .links {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 27px;
        top: 64px;
        left: 451px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 26.66px;
        text-align: left;
        white-space: nowrap;
        z-index: 41;
    }

    .contact {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 27px;
        top: 64px;
        left: 723px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 26.66px;
        text-align: left;
        white-space: nowrap;
        z-index: 43;
    }

    .flex-row-e {
        position: relative;
        width: 934px;
        height: 81px;
        margin: 36px 0 0 300px;
        z-index: 52;
    }

    .facebook-icon {
        position: absolute;
        width: 31px;
        height: 31px;
        top: 0;
        left: 687px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/133856/facebook-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 51;
        overflow: hidden;
        transition: transform 0.3s ease;
    }
    .facebook-icon:hover,.instagram-icon:hover,.ic-sharp-whatsapp:hover {
        transform: scale(1.3);
    }

    .instagram-handle {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 21px;
        top: 5px;
        left: 736px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 52;
    }

    .address {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: 281px;
        height: 63px;
        top: 10px;
        left: 0;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
        z-index: 34;
        transition: transform 0.3s ease;
    }
    .address:hover, .telefones:hover{
        transform: translateX(10px);
    }

    .products {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 21px;
        top: 15px;
        left: 440px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 39;
    }

    .instagram-icon {
        position: absolute;
        width: 31px;
        height: 31px;
        top: 50px;
        left: 687px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/133856/instagram-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 48;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .segredo-sabor-confeitaria {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 21px;
        top: 55px;
        left: 736px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 49;
    }

    .contato-c {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 21px;
        top: 60px;
        left: 440px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 40;
    }

    .telefones {
        display: block;
        position: relative;
        height: 21px;
        margin: -2px 0 0 300px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 33;
        transition: transform 0.3s ease;
    }

    .flex-row-cc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 166px;
        height: 31px;
        top: 149px;
        left: 990px;
        z-index: 46;
    }

    .ic-sharp-whatsapp {
        flex-shrink: 0;
        position: relative;
        width: 31px;
        height: 31px;
        background: url(https://static.codia.ai/custom_image/2025-04-09/133856/whatsapp-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 45;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .telefones-d {
        flex-shrink: 0;
        position: relative;
        height: 21px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 46;
    }

    .nossa-marca-e {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: 21px;
        top: 166px;
        left: 730px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 38;
    }
}